<h1>My name is <%= @names %>, <%= @age %> cat years old</h1>

<div style='border: 1px dashed red'>
  <img src='https://www.vetbabble.com/wp-content/uploads/2016/11/hiding-cat.jpg'>
</div>


<!--http://bit.ly/1eze8aE-->
