<h1>My name is <%= @names %>, <%= @age %> cat years old</h1>

<div style='border: 1px dashed red'>
  <img src='https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Fimages.hellogiggles.com%2Fuploads%2F2015%2F12%2F11083247%2Fcat.jpg&w=700&q=85'>
</div>


<!--http://bit.ly/1eze8aE-->
